# ledd example systemd unit file

[Unit]
Description="LED Daemon"

[Service]
Type=simple
ExecStart=/usr/local/bin/ledd \
        --led \
                '/sys/devices/platform/leds_apu/leds/apu2:green:1/brightness' \
                '/sys/class/net/enp1s0/statistics/rx_bytes' \
                '/sys/class/net/enp1s0/statistics/tx_bytes' \
        --led \
                '/sys/devices/platform/leds_apu/leds/apu2:green:2/brightness' \
                '/sys/class/net/enp2s0/statistics/rx_bytes' \
                '/sys/class/net/enp2s0/statistics/tx_bytes' \
        --led \
                '/sys/devices/platform/leds_apu/leds/apu2:green:3/brightness' \
                '/sys/class/net/enp3s0/statistics/rx_bytes' \
                '/sys/class/net/enp3s0/statistics/tx_bytes'

[Install]
WantedBy=default.target
